* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input {
    cursor: pointer;
}

.score-preview {
    display: flex;
    overflow-y: scroll;
    width: 10000000px;
    height: fit-content;
}

.subsequent-page {
    margin-left: -703px;
}
.subsequent-page .InstrumentName,
.subsequent-page .Clef,
.subsequent-page .KeySig,
.subsequent-page .TimeSig,
.subsequent-page .Page,
.subsequent-page .Bracket {
    display: none;
}
