* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input {
    cursor: pointer;
}

.score-preview {
    display: flex;
    overflow-y: scroll;
    width: 10000000px;
    height: fit-content;
}
